<div class="footer">

    <div class="footer-container">
        <div class="footer-row">
            <!-- <a href="./index.html">
                <img class="footer-logo" src="./img/logo_small.png">
            </a> -->
            <a href="./data_protection.html">Datenschutz</a> 
            <span class="footer-line">|</span>
            <a href="./contact.html" id="contact">Kontakt</a> 
            <span class="footer-line">|</span>
            <a href="./imprint.html" id="imprint">Impressum</a>
        </div>
        <div class="footer-img">
            <a href="https://www.facebook.com/">
                <img src="./img/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/">
                <img src="./img/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</div>